footer{
    background-color: #42318a;
    padding: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer span{
    font-size: 0.8em;
    font-weight: 300;
    color: #fff;
}